@page "/fetchdata"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>test</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fork in forks.Forks)
            {
                <tr>
                    <td>@fork</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ForkDTO? forks;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forks = await Http.GetFromJsonAsync<ForkDTO>(@"/analysis/itu-bdsa/project-description/forks");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public class ForkDTO
    {
        public string[]? Forks { get; set; }
    }
}
